<template name="about">
    <div class="row">
        <div class="col-xs-12 contentContainer">
            <h1 class="margin-top-none">What is this?</h1>
            <p>lol-quests.byWulf is an app where players of League of Legends can see their current champion masteries and get quests to improve their own skill and experience.</p>
        </div>
    </div>
    <div class="row margin-top-lg">
        <div class="col-xs-12 contentContainer">
            <h1 class="margin-top-none">How can it help me to improve myself?</h1>
            <p>Every quest targets another aspect of the game. At most quests, you need to play a specific champion and archive some fun targets. With these quests you will learn how to play many champions, so you become better at playing Leage of Legends. Playing many different champions helps you getting a feeling for their abilities and cooldowns, so the next time you play against them, you will better know how to counter them. Also you get a bigger champion pool you can play, even when your main champions are banned or picked away. That way you can make better choices against your lane opponents.</p>
        </div>
    </div>
    <div class="row margin-top-lg">
        <div class="col-xs-12 contentContainer">
            <h1 class="margin-top-none">Implemented quests</h1>
            <div class="row">
                <div class="col-sm-6">
                    <h3>Become good</h3>
                    If you have a champion that is at least level 3 and has not yet received a S- or better, he has to get one grade higher than his currently best grade. So for example if his currently best grade is C+, he has to get at least a B-. With this quest you will learn focusing on the game and play that champion even better.
                </div>
                <div class="col-sm-6">
                    <h3>Get more masteries</h3>
                    You have to get more champion masteries (either by playing new champions to get tier 1 on them or by playing already played champions and getting a heigher tier). The target champion mastery sum is always a multiply of 5. You will need between 2 and 6 more champion masteries to finish this quest. You'll get more experience but still can play the roles you want. Playing a broad range of champions extends your skills throughout the whole game.
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h3>Get next tier</h3>
                     If you have a champion between tier 2 and tier 4 with 500-3000 points till the next level you must get the next tier for the chosen champion. So if the chosen champion is tier 3 with 1500 points till tier 4, you have to play with this champion until you reach at least tier 4. You will learn how to play that specific champion better and get a better understanding of its abilities. Also if you are getting tier 4 or 5, you also get that cool ingame emote.
                </div>
                <div class="col-sm-6">
                    <h3>Haven't played for long</h3>
                    If you have a champion at at least tier 3 and haven't played him for 2 weeks or longer, you have to play that champion again at least one time to finish this quest. That way you won't forget how to play that champion and even can face him/her better as an opponent.
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h3>Learn a new champion</h3>
                    Based on the most played champion roles, a random champion you haven't played yet is chosen and has to be bought (if not already) and played until at least tier 2. It is always good to get insight into new champions, because you learn what their abilities are and get a feeling about their cooldowns, ranges, etc.
                </div>
                <div class="col-sm-6">
                    <h3>Overtake champion</h3>
                     If you have two champions that are at least tier 2 and less than 3000 points away from each other, you have to play the lower champion until he has more points than the target champion. If you also play the target champion meanwhile so he gets more champion mastery points, you have to play the overtaking champion even longer to overtake the target champion of course. Playing these games helps you improving your skills.
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h3>Play without your main</h3>
                    If you have a main champion (most played champion with more than double the points of your second most played champion), you have to play League of Legends for one day without playing your main. It's good to try out other champions as well, so you can collect more experience throughout the game. You will only get better when you face challenges that are not that easy to solve.
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-top-lg">
        <div class="col-xs-12 contentContainer">
            <h1 class="margin-top-none">About the author</h1>
            <img src="/byWulf.jpg" class="authorImage">
            <p>My name is Michael Wolf, I'm 27 years old, live in Germany and love programming. I was ten years old when I first learned some BASIC programming languages and have improved my knowledge since then by trying out many different programming languages. After canceling Applied Science study, I successfully finished a web programmer education and now work at a big holiday home provider. But I still code at home and improve my skills in many different areas. Especially those coding competitions are fun, because even after 17 years you always learn new things and improve your skills more and more.</p>
            <p>You want to contact me? Just leave a message at <a href="mailto:wulf1337@googlemail.com" target="_blank">wulf1337@googlemail.com</a> and I come back to you as soon as possible.</p>
        </div>
    </div>
    <div class="row margin-top-lg">
        <div class="col-xs-12 contentContainer">
            <h1 class="margin-top-none">Entry for Riot API Challenge 2016</h1>
            <p>This project is my entry for the Riot API Challenge 2016. Riot holds a API Challenge every year with different tasks to build a project on. This time the task was "Utilize the Champion Mastery API". Visit <a href="https://developer.riotgames.com" target="_blank">their developer website</a> for more information.</p>
        </div>
    </div>
    <div class="row margin-top-lg">
        <div class="col-xs-12 contentContainer">
            <h1 class="margin-top-none">Can I support you at this project?</h1>
            <p>I love to hear that! After the challenge is finished, you can fork this project at <a href="https://github.com/byWulf/lol-quests" target="_blank">GitHub</a>, send me pull requests or just leave a message with possible improvements or bugs. Thank you in advance!</p>
        </div>
    </div>
</template>